@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

/* ------------------------GENERAL------------------------ */

* {
  --bg-primary: #1b096a;
  --color-text: white;
  --padding-y: 0 10px;
  --border-primary: 1px solid white;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Indie Flower", cursive;
  max-width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 0;
}

/* ------------------------CONTAINER------------------------ */
.wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: 280px 1fr 1fr;
  grid-template-rows: 240px 1fr;
  grid-template-areas:
    "Picture Header Description"
    "Informations Experiences Experiences";
}

/* ------------------------HEADER------------------------ */

.header {
  grid-area: Header;
  align-items: center;
  background-color: var(--bg-primary);
  border-right: var(--border-primary);
  color: var(--color-text);
  display: flex;
  justify-content: center;
  text-align: center;
}

.header-title {
  font-size: 50px;
  letter-spacing: 8px;
}

/* ------------------------DESCRIPTION------------------------ */

.description {
  grid-area: Description;
  background-color: var(--bg-primary);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.description-title {
  font-style: italic;
  margin-bottom: 5px;
  text-decoration: underline;
}

/* ------------------------PROFILE PICTURE------------------------ */

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: Picture;
}

.profile-pic {
  border-radius: 100%;
  height: 95%;
  width: 85%;
}

/* ------------------------ASIDE------------------------ */

/* ------------------------CONTACT------------------------ */

.informations {
  grid-area: Informations;
  background-color: var(--bg-primary);
  color: var(--color-text);
}

.informations-contact {
  padding: var(--padding-y);
  border-bottom: var(--border-primary);
}

.informations-title {
  font-size: 18px;
  text-decoration: underline;
}

.informations-contact div {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.informations-contact i {
  margin-right: 10px;
}

/* ------------------------Degrees------------------------ */

.degrees {
  padding: var(--padding-y);
  border-bottom: var(--border-primary);
}

.degrees-information {
  margin-bottom: 10px;
}

/* ------------------------Langages------------------------ */

.langages {
  padding: var(--padding-y);
}

.star-container {
  margin-bottom: 10px;
}

/* ------------------------Projects------------------------ */

.experiences {
  grid-area: Experiences;
  padding: var(--padding-y);
  font-size: 18px;
}

.experiences-title {
  font-size: 30px;
  margin: 20px 0;
}

.experiences-project-name {
  font-size: 22px;
  letter-spacing: 10px;
  margin-bottom: 10px;
}

.experiences-project-name:hover {
  text-transform: uppercase;
  cursor: pointer;
}

.experiences-project {
  margin: 20px 0;
}

/* ------------------------Tech------------------------ */

.experiences-tech-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.experiences-tech-container div {
  width: 30%;
  text-align: center;
}

@media only screen and (max-width: 851px) {
  /* ------------------------CONTAINER------------------------ */

  .wrapper {
    grid-template-columns: 280px 1fr;
    grid-template-rows: 240px 1fr;
    grid-template-areas:
      "Header Description"
      "Informations Experiences ";
  }

  /* ------------------------HEADER------------------------ */

  .header {
    border-bottom: var(--border-primary);
  }

  /* ------------------------PROFILE PICTURE------------------------ */

  .profile {
    display: none;
  }
}

@media only screen and (max-width: 601px) {
  /* ------------------------CONTAINER------------------------ */
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "Header "
      "Description"
      "Informations"
      "Experiences";
  }

  /* ------------------------Header------------------------ */

  .header {
    border-right: none;
  }

  /* ------------------------Description------------------------ */

  .description {
    border-bottom: var(--border-primary);
    padding-bottom: 10px;
  }

  /* ------------------------Informations------------------------ */

  .informations {
    text-align: center;
  }

  .informations-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* ------------------------Projects------------------------ */

  .experiences {
    text-align: center;
  }
}
