@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

/* ------------------------GENERAL------------------------ */

* {
  --bg-primary: #1b096a;
  --color-text: white;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Indie Flower", cursive;
}

/* ------------------------CONTAINER------------------------ */
.wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: 280px 1fr 1fr;
  grid-template-rows: 240px 1fr;
  grid-template-areas:
    "Picture Header Description"
    "Informations Experiences Experiences";
}

/* ------------------------HEADER------------------------ */

.header {
  grid-area: Header;
  align-items: center;
  background-color: var(--bg-primary);
  border-right: 1px solid white;
  color: var(--color-text);
  display: flex;
  justify-content: center;
  text-align: center;
}

.header-title {
  font-size: 50px;
  letter-spacing: 8px;
}

/* ------------------------DESCRIPTION------------------------ */

.description {
  grid-area: Description;
  background-color: var(--bg-primary);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.description-title {
  font-style: italic;
  margin-bottom: 5px;
  text-decoration: underline;
}

/* ------------------------PROFILE PICTURE------------------------ */

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: Picture;
}

.profile-pic {
  border-radius: 100%;
  height: 95%;
  width: 85%;
}

/* ------------------------ASIDE------------------------ */

.informations {
  grid-area: Informations;
  background-color: green;
}

/* ------------------------MAIN------------------------ */

.experiences {
  grid-area: Experiences;
  background-color: gray;
}
